@model ProjectsModel
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Minty.css" />
    <title>Home Page</title>
</head>
<body>
    <div class="text-center d-flex flex-row justify-content-center align-items-center" style="background-color: #aed9e0;">
        <div class="mr-4">
            <h1 class="display-4">Hello, Welcome!</h1>
            <h2 class="display-2">Samanta's portfolio</h2>
        </div>
        <img src="~/Imagens/SamantaImage - Copia.JPG" alt="Imagem" class="img-responsive" style="max-width: 50%;">
    </div>
</body>
</html>
