@model EmprestimosModel
@{

	ViewData["title"] = "Novo registo";
}


<div class="container">
    <div class="text-center">
        <h1 class="display-4">Novo Registo</h1>

    </div>
<form method="post" asp-controller="Emprestimos" asp-action="NovoRegisto">
 
    <div class="mb-3">
        <label for="Recebedor" class="form-label">Recebedor</label>
            <input type="text" class="form-control" asp-for="Recebedor" id="Recebedor" placeholder="Quem está a receber o jogo">
            <span class="text-danger" asp-validation-for="Recebedor"> </span>
    </div>
     <div class="mb-3">
        <label for="Fornecedor" class="form-label">Fornecedor</label>
        <input type="text" class="form-control"asp-for="Fornecedor" id="Fornecedor" placeholder="Quem está a emprestar o jogo">
        <span class="text-danger" asp-validation-for="Fornecedor"> </span>
    </div>
    <div class="mb-3">
        <label for="JogoEmprestado" class="form-label">Jogo Emprestado</label>
        <input type="text" class="form-control" asp-for="JogoEmprestado" id="JogoEmprestado" placeholder="Nome do Jogo a emprestar">
        <span class="text-danger" asp-validation-for="JogoEmprestado"> </span>
    </div>
    <div class="d-flex gap-2 mt-5">
        <button type="submit" class="btn btn-primary w-50">Guardar</button>
            <a class="btn btn-primary w-50"asp-controller="Emprestimos" asp-action="Index">Voltar</a>
    
    </div>
</form> 

</div>