@model IEnumerable<AboutMeModel>

<style>
   
</style>

<div class=" container">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-4 mx-auto"><i class="bi bi-person-vcard"></i> <i class="bi bi-person-vcard"></i> About Me <i class="bi bi-person-vcard"></i> <i class="bi bi-person-vcard"></i></h1>
            
    </div>
</div>
<div class="container my-5">
    <div class="card">
            <div class="display-6 card-header text-center ">
            How I am 
        </div>
            <div class="card-body text-center">
                <blockquote class="blockquote mb-0">
                    <p>
                        Hello, I'm Samanta Bordallo, a 26-year-old with a passion for inquiry and learning. Originally graduating in Biological Sciences in Brazil, I furthered my studies with a postgraduate degree in Criminal Expertise & Forensic Sciences. In September 2022, I embarked on a new adventure, moving to Portugal with my husband, marking a new chapter in my personal and professional journey.
                    </p>
                    <p>
                        My foray into the programming world began in July 2019, during an interrupted master's program in Belém do Pará, where I had the chance to familiarize myself with the R language and R Studio, applying them in data-driven projects. This experience sowed the seeds of my growing interest in technology.
                    </p>
                    <p>
                        In December 2022, my path led me deeper into this universe when I began self-taught studies in Python, supplemented by a course on UDEMY. I delved deeper by starting a .NET programming course through IEFP, developing projects in C# and C++, and recently diving into development with ASP.NET Core.
                    </p>
                    <p>
                        Beyond programming, I am a tranquil person who loves cats, cherishes the coziness of cold weather, and finds joy in small pleasures like watching series alongside my husband, a programmer who often becomes my partner and mentor in coding challenges. My passion for nature is reflected in my love for plants and gardening, as well as in the delight of cooking with fresh herbs, enjoying ice cream, or pampering the cat that lives in front of my house.
                    </p>
                    <p>
                        Professionally, I stand out for my continuous search for challenges that stimulate my growth. Whether refining my projects or assisting colleagues in solving complex problems, I've discovered that teaching is a powerful learning tool. I am always looking for ways to develop my skills and add value to my projects and team.
                    </p>
                    <p>
                        Throughout this journey, I have learned to value the intersection of different areas of knowledge, leveraging my unique background and diverse perspective to bring a creative and analytical eye to programming. I am excited to explore new opportunities where I can apply my passion and skills in a challenging and innovative environment.
                    </p>
                </blockquote>

        </div>
            <div class="card-footer text-muted text-center">
                Samanta Bordallo - 26/10/2023
        </div>
    </div>
</div>
<div style="height: 100px;"></div>
