@model ProjectsModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello, Welcome!</h1>
    <h2 class="display-2">Samanta's portfolio</h2>
    <img src="~/Imagens/SamantaImage.JPG" alt="Imagem do Carro" class="img-responsive">

</div>
