@model CarrosModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá</h1>
    <h2 class="display-2">Bem-vindos ao Projeto Carros da Sasá</h2>
    <img src="~/images/carros.jpeg.jpeg" alt="Imagem do Carro" class="img-responsive">
    
</div>
