@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindos ao Emprestimo de Jogos</h1>
    <h2 class="display-5">Welcome</h2>
    <h2 class="display-5">Welcome</h2>
    


</div>
