@model CarrosModel
@{

    ViewData["title"] = "Eliminar registo";
}


<div class="container">
    <div class="text-center">
        <h1 class="display-4">Eliminar Registo</h1>

    </div>
    <form method="post" asp-controller="Registo" asp-action="EliminarRegisto">
        <input type="hidden" asp-for="Id" />
        <h2>Deseja apagar esse Registo?</h2>
        <div class="mb-3">
            <label for="Marca" class="form-label">Marca</label>
            <input type="text" class="form-control" asp-for="Marca" id="Marca" placeholder="Qual a marca do carro?" disabled>
            <span class="text-danger" asp-validation-for="Marca"> </span>
        </div>
        <div class="mb-3">
            <label for="Modelo" class="form-label">Modelo</label>
            <input type="text" class="form-control" asp-for="Modelo" id="Modelo" placeholder="Qual o modelo do jogo?" disabled>
            <span class="text-danger" asp-validation-for="Modelo"> </span>
        </div>
        <div class="mb-3">
            <label for="Cor" class="form-label">Cor</label>
            <input type="text" class="form-control" asp-for="Cor" id="Cor" placeholder="Qual o cor do carro?" disabled>
            <span class="text-danger" asp-validation-for="Cor"> </span>
        </div>
        <div class="mb-3">
            <label for="Ano" class="form-label">Ano</label>
            <input type="text" class="form-control" asp-for="Ano" id="Ano" placeholder="Qual o ano do carro?" disabled>
            <span class="text-danger" asp-validation-for="Ano"> </span>
        </div>
        <div class="d-flex gap-2 mt-5">
            <button type="submit" class="btn btn-danger w-50">Eliminar</button>
            <a class="btn btn-primary w-50" asp-controller="Registo" asp-action="Index">Voltar</a>

        </div>
    </form>

</div>