@model ProjectsModel
@{

    ViewData["title"] = "New Project";
}


<div class="container">
    <div class="text-center">
        <h1 class="display-4">New Project</h1>

    </div>
    <form method="post" asp-controller="Projects" asp-action="NewProject">

        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="Name" id="Name" placeholder="What is the name of the project?">
            <span class="text-danger" asp-validation-for="Name"> </span>
        </div>
        <div class="mb-3">
            <label class="form-label">Finished</label>
            <div>
                <input type="radio" asp-for="Finished" id="Finished_Yes" value="true" />
                <label for="Finished_Yes">Yes</label>
            </div>
            <div>
                <input type="radio" asp-for="Finished" id="Finished_No" value="false" />
                <label for="Finished_No">No</label>
            </div>
            <span class="text-danger" asp-validation-for="Finished"></span>
        </div>
        <div class="mb-3">
            <label for="Topic" class="form-label">Topic</label>
            <input type="text" class="form-control" asp-for="Topic" id="Topic" placeholder="What is the topic of the project?">
            <span class="text-danger" asp-validation-for="Topic"> </span>
        </div>
        <div class="mb-3">
            <label for="Language" class="form-label">Language</label>
            <input type="text" class="form-control" asp-for="Language" id="Language" placeholder="What was the language used?">
            <span class="text-danger" asp-validation-for="Language"> </span>
        </div>
        <div class="d-flex gap-2 mt-5">
            <button type="submit" class="btn btn-primary w-50">Submit</button>
            <a class="btn btn-primary w-50" asp-controller="Projects" asp-action="Index">Return</a>

        </div>
        <div style="height: 100px;"></div>
    </form>

</div>