@model IEnumerable<PersonalBlogModel>

<div class=" container">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-4 align-items-center"><i class="bi bi-airplane-fill"></i> <i class="bi bi-airplane-fill"></i> Samanta's Adventures <i class="bi bi-airplane-fill"></i><i class="bi bi-airplane-fill"></i>

    </div>
</div>

<div class="container my-4">
    <div class="card" style="max-width: 90%;">
        <div class="card-header text-center">
            <h2 class="display-6">The Monastery of Batalha</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <img src="~/Imagens/Adventures/Monastery/Monastery1.jpg" class="img-fluid" alt="Monastery">
                </div>
                <div class="col-md-7">
                    <div class="mt-2">
                        <div class=" display-6 text-center">
                            <h5>A morning at the Monastery</h5>
                        </div>
                        <div class="row">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    Hello, I'm Samanta Bordallo, a 26-year-old with a passion for inquiry and learning. Originally graduating in Biological Sciences in Brazil, I furthered my studies with a postgraduate degree in Criminal Expertise & Forensic Sciences. In September 2022, I embarked on a new adventure, moving to Portugal with my husband, marking a new chapter in my personal and professional journey.
                                </p>
                                <p>
                                    My foray into the programming world began in July 2019, during an interrupted master's program in Belém do Pará, where I had the chance to familiarize myself with the R language and R Studio, applying them in data-driven projects. This experience sowed the seeds of my growing interest in technology.
                                </p>
                                <p>
                                    In December 2022, my path led me deeper into this universe when I began self-taught studies in Python, supplemented by a course on UDEMY. I delved deeper by starting a .NET programming course through IEFP, developing projects in C# and C++, and recently diving into development with ASP.NET Core.
                                </p>
                            </blockquote>
                    </div>
                </div>
            </div>
            <div style="height: 15px;"></div>
            <div class="row">
                <div class="col-md-3">
                    <img src="~/Imagens/Adventures/Monastery/Monastery5.jpg" class="img-fluid" alt="Pão de Queijo 1" style="width: 18rem; height: 100%;">
                </div>
                <div class="col-md-3">
                    <img src="~/Imagens/Adventures/Monastery/Monastery2.jpg" class="img-fluid" alt="Pão de Queijo 2" style="width: 18rem; height: 100%;">
                </div>
                <div class="col-md-3">
                    <img src="~/Imagens/Adventures/Monastery/Monastery3.jpg" class="img-fluid" alt="Pão de Queijo 3" style="width: 18rem; height: 100%;">
                </div>
                <div class="col-md-3">
                    <img src="~/Imagens/Adventures/Monastery/Monastery4.jpg" class="img-fluid" alt="Pão de Queijo 4" style="width: 18rem; height: 100%;">
                </div>
            </div>

            <div style="height: 15px;"></div>

            <div class="row">
                <div class="col-md-3">
                    <img src="~/Imagens/Adventures/Monastery/Monastery6.jpg" class="img-fluid" alt="Pão de Queijo 1" style="width: 18rem; height: 100%;">
                </div>
                <div class="col-md-3">
                    <img src="~/Imagens/Adventures/Monastery/Monastery10.jpg" class="img-fluid" alt="Pão de Queijo 2" style="width: 18rem; height: 100%;">
                </div>
                <div class="col-md-3">
                    <img src="~/Imagens/Adventures/Monastery/Monastery8.jpg" class="img-fluid" alt="Pão de Queijo 3" style="width: 18rem; height: 100%;">
                </div>
                <div class="col-md-3">
                    <img src="~/Imagens/Adventures/Monastery/Monastery9.jpg" class="img-fluid" alt="Pão de Queijo 4" style="width: 18rem; height: 100%;">
                </div>
            </div>

                <div style="height: 15px;"></div>

            <div class="card-footer text-muted text-center">
                Samanta Bordallo - 26/10/2023
            </div>
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="card" style="max-width: 90%;">
        <div class="card-header text-center">
            <h2 class="display-6">The Monastery of Batalha</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <img src="~/Imagens/Adventures/Monastery1.jpg" class="img-fluid" alt="Monastery">
                </div>
                <div class="col-md-7">
                    <div class="mt-2">
                        <div class=" display-6 text-center">
                            <h5>A morning at the Monastery</h5>
                        </div>
                        <div class="row">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    Hello, I'm Samanta Bordallo, a 26-year-old with a passion for inquiry and learning. Originally graduating in Biological Sciences in Brazil, I furthered my studies with a postgraduate degree in Criminal Expertise & Forensic Sciences. In September 2022, I embarked on a new adventure, moving to Portugal with my husband, marking a new chapter in my personal and professional journey.
                                </p>
                                <p>
                                    My foray into the programming world began in July 2019, during an interrupted master's program in Belém do Pará, where I had the chance to familiarize myself with the R language and R Studio, applying them in data-driven projects. This experience sowed the seeds of my growing interest in technology.
                                </p>
                                <p>
                                    In December 2022, my path led me deeper into this universe when I began self-taught studies in Python, supplemented by a course on UDEMY. I delved deeper by starting a .NET programming course through IEFP, developing projects in C# and C++, and recently diving into development with ASP.NET Core.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div style="height: 15px;"></div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/Imagens/Adventures/Monastery5.jpg" class="img-fluid" alt="Pão de Queijo 1" style="width: 18rem; height: 100%;">
                    </div>
                    <div class="col-md-3">
                        <img src="~/Imagens/Adventures/Monastery2.jpg" class="img-fluid" alt="Pão de Queijo 2" style="width: 18rem; height: 100%;">
                    </div>
                    <div class="col-md-3">
                        <img src="~/Imagens/Adventures/Monastery3.jpg" class="img-fluid" alt="Pão de Queijo 3" style="width: 18rem; height: 100%;">
                    </div>
                    <div class="col-md-3">
                        <img src="~/Imagens/Adventures/Monastery4.jpg" class="img-fluid" alt="Pão de Queijo 4" style="width: 18rem; height: 100%;">
                    </div>
                </div>

                <div style="height: 15px;"></div>

                <div class="row">
                    <div class="col-md-3">
                        <img src="~/Imagens/Adventures/Monastery6.jpg" class="img-fluid" alt="Pão de Queijo 1" style="width: 18rem; height: 100%;">
                    </div>
                    <div class="col-md-3">
                        <img src="~/Imagens/Adventures/Monastery10.jpg" class="img-fluid" alt="Pão de Queijo 2" style="width: 18rem; height: 100%;">
                    </div>
                    <div class="col-md-3">
                        <img src="~/Imagens/Adventures/Monastery8.jpg" class="img-fluid" alt="Pão de Queijo 3" style="width: 18rem; height: 100%;">
                    </div>
                    <div class="col-md-3">
                        <img src="~/Imagens/Adventures/Monastery9.jpg" class="img-fluid" alt="Pão de Queijo 4" style="width: 18rem; height: 100%;">
                    </div>
                </div>

                <div style="height: 15px;"></div>

                <div class="card-footer text-muted text-center">
                    Samanta Bordallo - 26/10/2023
                </div>
            </div>
        </div>
    </div>
 </div>




<div style="height: 100px;"></div>
