@model IEnumerable<PersonalBlogModel>

<div class=" container">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-4 align-items-center text-center" style="margin: 0 auto;"><i class="bi bi-person-vcard"></i> <i class="bi bi-person-vcard"></i> Personal Blog <i class="bi bi-person-vcard"></i> <i class="bi bi-person-vcard"></i>

    </div>
</div>

<div style="height: 50px;"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card d-flex flex-fill mx-auto" style="width: 18rem; margin: 0 auto; height: 100%;">
                <img src="~/Imagens/PaoDeQueijo.jpg" class="card-img-top" alt="Pão de Queijo" style="width: 100%; height: 350px;"> 
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Samanta's recipes</h5>
                    <p class="card-text text-center">Here I write some of my most precious recipes that I make to welcome my friends</p>
                    <div class="text-center mt-auto">
                        <a asp-controller="PersonalBlog" asp-action="RecipesBlog" class="btn btn-primary">Go to Recipes</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card d-flex flex-fill mx-auto" style="width: 18rem; height: 100%;">
                <img src="~/Imagens/AdventuraSamanta.png" class="card-img-top" alt="Beach" style="width: 100%; height: 350px;"> 
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Samanta's Adventures</h5>
                    <p class="card-text text-center">Here I talk about some of my adventures such as hiking, traveling and more.</p>
                    <div class="text-center mt-auto">
                        <a asp-controller="PersonalBlog" asp-action="AdventureBlog" class="btn btn-primary">Go to Adventures</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card d-flex flex-fill mx-auto" style="width: 18rem; height: 100%;">
                <img src="~/Imagens/origami.jpg" class="card-img-top" alt="Hobbies" style="width: 100%; height: 350px;"> 
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Samanta's hobbies</h5>
                    <p class="card-text text-center">My hobbies range from origami to wanting to learn to play the violin.</p>
                    <div class="text-center mt-auto">
                        <a asp-controller="PersonalBlog" asp-action="HobbiesBlog" class="btn btn-primary">Go to Hobbies</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height: 100px;"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card d-flex flex-fill mx-auto" style="width: 18rem; margin: 0 auto; height: 100%;">
                <img src="~/Imagens/PaoDeQueijo.jpg" class="card-img-top" alt="Pão de Queijo" style="width: 100%; height: 350px;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Samanta's recipes</h5>
                    <p class="card-text text-center">Here I write some of my most precious recipes that I make to welcome my friends</p>
                    <div class="text-center mt-auto">
                        <a asp-controller="PersonalBlog" asp-action="RecipesBlog" class="btn btn-primary">Go to Recipes</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card d-flex flex-fill mx-auto" style="width: 18rem; height: 100%;">
                <img src="~/Imagens/AdventuraSamanta.png" class="card-img-top" alt="Beach" style="width: 100%; height: 350px;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Samanta's Adventures</h5>
                    <p class="card-text text-center">Here I talk about some of my adventures such as hiking, traveling and more.</p>
                    <div class="text-center mt-auto">
                        <a asp-controller="PersonalBlog" asp-action="AdventureBlog" class="btn btn-primary">Go to Adventures</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card d-flex flex-fill mx-auto" style="width: 18rem; height: 100%;">
                <img src="~/Imagens/origami.jpg" class="card-img-top" alt="Hobbies" style="width: 100%; height: 350px;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Samanta's hobbies</h5>
                    <p class="card-text text-center">My hobbies range from origami to wanting to learn to play the violin.</p>
                    <div class="text-center mt-auto">
                        <a asp-controller="PersonalBlog" asp-action="HobbiesBlog" class="btn btn-primary">Go to Hobbies</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 100px;"></div>