@model IEnumerable<PersonalBlogModel>

<div class="container" id="top">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-4 align-items-center"><i class="bi bi-journal-bookmark-fill"></i> <i class="bi bi-journal-bookmark-fill"></i> Recipes <i class="bi bi-journal-bookmark-fill"></i><i class="bi bi-journal-bookmark-fill"></i>

    </div>
</div>


<div class="container my-4">
    <div class="card" style="max-width: 90%;">
        <div class="card-header text-center">
            <h2 class="display-6">Recipe of Pão de queijo</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <img src="~/Imagens/PaoDeQueijo.jpg" class="img-fluid" alt="Pão de Queijo">
                </div>
                <div class="col-md-7">
                    <div class="mt-2">
                        <h5>Ingredients:</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="ingredient-list" style="font-size: 20px; text-align: justify;">
                                    <li>500 g Sour Starch</li>
                                    <li>150 ml oil</li>
                                    <li>150 ml milk</li>
                                    <li>150 ml water</li>
                                    <li>1 teaspoons salt </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="ingredient-list" style="font-size: 20px; text-align: justify;">
                                    <li>3 eggs</li>
                                    <li>200 g grated mozzarella cheese</li>
                                    <li>40 g grated Parmesan cheese</li>
                                </ul>
                            </div>
                        </div>
                        <h5>Instructions:</h5>
                        <ul class="instruction-list" style="font-size: 20px; text-align: justify;">
                            <li>Preheat oven to 180°C degrees with a rack in the middle.</li>
                            <li>Combine the milk, water and oil in a saucepan and bring to a boil over medium high heat.</li>
                            <li>Place the sour and salt in a large bowl and, as soon as the milk mixture boils, pour it over the flour. Mix well with a spoon and wait for it to cool slightly.</li>
                            <li>Add the eggs and mix by hand until it reaches a homogeneous consistency.</li>
                            <li>Add the cheeses and mix until you get a homogeneous consistency.</li>
                            <li>Finish by making balls and sticking them in the pan to bake.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                Samanta Bordallo - 26/10/2023
            </div>
        </div>
    </div>
</div>

<div style="height: 15px;"></div>

<div class="container my-4">
    <div class="card" style="max-width: 90%;">
        <div class="card-header text-center">
            <h2 class="display-6">Recipe of Brownie</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <img src="~/Imagens/brownie.jpg" class="img-fluid" alt="Brownie">
                </div>
                <div class="col-md-7">
                    <div class="mt-2">
                        <h5>Ingredients:</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="ingredient-list" style="font-size: 20px; text-align: justify;">
                                    <li>120 g wheat flour</li>
                                    <li>230 g sugar</li>
                                    <li>60 g chocolate powder</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="ingredient-list" style="font-size: 20px; text-align: justify;">
                                    <li>80 g butter</li>
                                    <li>4 eggs</li>
                                    <li>120 g dark chocolate in pieces</li>
                                </ul>
                            </div>
                        </div>
                        <h5>Instructions:</h5>
                        <ul class="instruction-list" style="font-size: 20px; text-align: justify;">
                            <li>In a bowl, mix all the powdered ingredients.</li>
                            <li>Put the eggs and butter at room temperature and mix with a spoon until you get a homogeneous consistency.</li>
                            <li>Melt the chocolate in a bain-marie and then pour over the mixture.</li>
                            <li>Pour into a greased pan and bake for 20 minutes over low heat.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                Samanta Bordallo - 26/10/2023
            </div>
        </div>
    </div>
</div>

<div class="container my-4">


<div class="container my-4">
    <div class="card" style="max-width: 90%;">
        <div class="card-header text-center">
            <h2 class="display-6">Recipe of Guacamole</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <img src="~/Imagens/guacamole.jpg" class="img-fluid" alt="Guagacamole">
                </div>
                <div class="col-md-7">
                    <div class="mt-2">
                        <h5>Ingredients:</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="ingredient-list" style="font-size: 20px; text-align: justify;">
                                    <li>2 tomatos</li>
                                    <li>1/3 medium red onion</li>
                                    <li>1/2 bunch of parsley</li>
                                    <li>1 lager avocado</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="ingredient-list" style="font-size: 20px; text-align: justify;">
                                    <li>1/3 teaspoons salt </li>
                                    <li>lemon to taste</li>
                                    <li>1 small pepper "Dedo de moça"</li>
                                </ul>
                            </div>
                        </div>
                        <h5>Instructions:</h5>
                        <ul class="instruction-list" style="font-size: 20px; text-align: justify;">
                            <li>Preheat oven to 350F degrees with a rack in the middle.</li>
                            <li>Combine the milk, water and oil in a saucepan and bring to a boil over medium high heat.</li>
                            <li>Place the sour and salt in a large bowl and, as soon as the milk mixture boils, pour it over the flour. Mix well with a spoon and wait for it to cool slightly.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                Samanta Bordallo - 26/10/2023
            </div>
        </div>
    </div>
</div>

<div class="d-flex gap-2 mt-5 justify-content-center text-center">
    <a class="btn btn-dark w-25" href="#top">Return to top</a>
    <a class="btn btn-dark w-25" asp-controller="PersonalBlog" asp-action="Index">Return to Personal Blog</a>
</div>

<div style="height: 100px;"></div>