@model IEnumerable<Projects2Model>

<div class=" container">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-4"><i <i class="bi bi-journal-text"></i> <i class="bi bi-journal-text"></i> Project list <i class="bi bi-journal-text"></i> <i class="bi bi-journal-text"></i></h1>
